:root {
  --color-neutral-light:#fbfbfb;
   --color-neutral-medium:#c19f95;
   --color-neutral-dark:#754e3e;
}

body {
	background-color: #efefef;
	padding-bottom:10em;
}



@media (max-width:500px) {
   :root {
      --header-height:2rem;
   }
}